server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/booking_db
    username: root
    password: roopa
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none   # we use schema.sql
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=10000,expireAfterWrite=10m

  security:
    oauth2:
      resourceserver:
        jwt:
          #enabled: true
           secret-key: my-super-secret-key-my-super-secret-key-123456
#jwt:
#  secret: movie-ticket-super-secret-key-very-long-32-char-minimum-value
  expiration: 3600000
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s

  retry:
    instances:
      paymentService:
        max-attempts: 3
        wait-duration: 2s
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
# Zipkin (COMMENT if not using)
# management:
#   tracing:
#     sampling:
#       probability: 1.0
#   zipkin:
#     tracing:
#       endpoint: http://localhost:9411/api/v2/spans