apiVersion: v1
kind: Service
metadata:
  name: booking-service
spec:
  type: ClusterIP
  selector:
    app: booking-service
  ports:
    - port: 80
      targetPort: 8080
#helm install booking ./booking-chart